body {
    background: linear-gradient(#344674, #010613);
    overflow: hidden;
}
h1 {
    text-align: left;
    color: #849EDC;
    font-size: 12px;
}

#worldmap svg {
    margin-top: 20px;
    width: 125%;
    background: none;
    display: inline-block;

}

#mapMenu {
    border: 5px;
    border-style: double;
    border-color: #344674;
}

#totalGrid {
    position: absolute;
    opacity: 0.75; 
    top: 21.5%;
    left: 92.5%;
    float: left;
    height: 100%;
    overflow: hidden;
}

.background {
    fill: none;
    pointer-events: all;
}

@media screen and (min-width: 1680px) and (max-width: 1920px){
#titlecolor img {
    widows: 100%;
    height: 5.5%;
}
#titlecolor {
    margin-top:20px;
    color: #abb2b9;
    text-align: center;
    font-size: 20px;
}
#mapLegend {
    padding-top:2.5px;
    color: #849EDC;
    font-size: 12px;
    text-align: center;
    opacity: 0.75;
}

}


@media screen and (min-width: 1921px) {
    #titlecolor img {
        widows: 100%;
        height: 5.5%;
    }
    #titlecolor {
        margin-top:20px;
        color: #abb2b9;
        text-align: center;
    }
    #mapLegend {
        padding-top:2.5px;
        color: #849EDC;
        font-size: 18px;
        text-align: center;
        opacity: 0.75;
    }
    
}

@media screen and (max-width: 1679px) {

    #titlecolor img {
        widows: 100%;
        height: 5.5%;
    }
    #titlecolor {
        margin-top:20px;
        color: #abb2b9;
        text-align: center;
        font-size: 12px;
    }
    #mapLegend {
        padding-top:2.5px;
        color: #849EDC;
        font-size: 8px;
        text-align: center;
        opacity: 0.75;
    }
    
    
}


.land {
    fill: #32436E;
    stroke: #849EDC;
    stroke-width: 1px;
}

.boundary {
    fill: none;
    stroke: #40568B;
     -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
      -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
      border-image: linear-gradient(to bottom right,  #3acfd5 0%, #3a4ed5 100%);

      border-image-slice: 1;
      stroke-width: .5px;
}

h2 {
    color: #849EDC;
    text-align: center;
    font-size: 12px;
}

.stroke {
    fill: white;
    stroke: white;
    stroke-width: 3px;
}

.fill {
    fill: white;
}

.graticule {
    fill: none;
    opacity: 0.15;
    stroke: white;
    stroke-width: .25px;
    stroke-opacity: 0.3;

}


text {
    font-family: Menlo, monospace;
}

.point {
    stroke-width: 0.0;
    stroke: rgb(255,0,10,0.26);
}

.route {
    fill: none;
    stroke: none;

}

.focus {
    fill: white;
}

text.id {
    text-anchor: middle;
    font-weight: bold;

}


.label {
    fill: #777
}
